@import "functions"
// aqui ficam as classes mais usadas por mim nos meus CSSs
*, *:before, *:after
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
html
	-webkit-font-smoothing: antialiased

.container
	width calc(100% - 70px)
	margin 0 auto
	position relative
	overflow hidden
ul
	list-style-type none
	margin 0
	padding 0
main
	clear both
	height auto
	width 100%
	float left